<h2>Editar</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field" style="margin: 15px">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field" style="margin: 15px">
    <%= f.label :password %> <i>(Deixe em branco caso não deseje mudar)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field" style="margin: 15px">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field" style="margin: 15px">
    <%= f.label :current_password %> <i>(Digite sua senha atual para confirmar suas alterações)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions" style="margin: 15px">
    <%= f.submit "Atualizar" %>
  </div>
<% end %>

<h3>Cancelar conta</h3>
<div class="field" style="margin: 15px">
<p>Insatisfeito?  <%= button_to "Cancelar conta", registration_path(resource_name), data: { confirm: "Você tem certeza de que deseja cancelar sua conta?" }, method: :delete %> </p>
</div>
<%= link_to "Voltar", :back %>
