<!doctype html>
<html class="no-js" lang="en">
<script src="app/javascripts/slideShow.js"></script>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

  </head>
  <body >

    <br>
    <!-- You can now combine a row and column if you just need a 12 column row -->
    <div class="row columns" >
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="http://localhost:3000/items/">Início</a></li>

        </ul>
      </nav>
    </div>

    <div style="margin: 15px ">
            <img class="thumbnail" src="<%=@item.img_url%>"  style="width: 390px; height: 300px; margin: 15px; float:left; " />
            <h3><%=@item.nome%></h3>
            <h6><%=@item.release_date%></h6>
            <p><%=@item.description%></p>
        </div>

        <label>Preço
        <h2>R$ <%=@item.price%></h2>
        </label>

        <div class="row" >
          <div class="small-3 columns">

          </div>
          <div class="small-9 columns">

          </div>
        </div>

        <a href="#" class="button large " style="float:right; margin: 15px ">Adicionar ao Carrinho</a>

         <div class="row">
          <%if signed_in?%>
            <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@item), removeUrl: remove_from_cart_path(@item)} do%>
              <span><%=@cart_action%></span> Cart
            <%end%>
          <%end%>
        </div>

        <div class="small secondary button-group" style="float:right; margin: 15px">
            <a href="https://www.facebook.com/lojadelivrosrenataegaby/" class="button">Facebook</a>
            <a href="https://twitter.com/LojaDeLivrosRG" class="button" >Twitter</a>

          </div>
        </div>
    </div>
    <br>
    <br>


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
